<h1>New article</h1>

<%= form_for :article, url: '/articles' do |f| %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
      <% @article.errors.full_messages_for(:title).each do |msg| %>
        <%= msg %>
      <% end %>
    </div>

  <div>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
    <% @article.errors.full_messages_for(:text).each do |msg| %>
      <%= msg %>
    <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>

<br />
<hr />
<%= link_to 'Main page', articles_path %>