<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <%= button_to "Destroy", article_path(@article), method: :delete %>
</ul>
<br />
<hr />
<%= link_to '<- Main page', articles_path %>