<h2><%= @article.title %></h2>
<p><%= @article.text %></p>

<% if user_signed_in? %>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">

    <%= link_to "Edit", edit_article_path(@article), class:"btn btn-outline-success btn-sm" %>

    <%= link_to "Destroy", article_path(@article), class:"btn btn-outline-danger btn-sm", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>

  </div>

<% end %>

<% if user_signed_in? %>
<h4><%= t("comments.add_comment") %></h4>
  <%= render 'comments/form' %>
<br />
<hr />
<% end %>
<h4><%= t("comments.comments") %></h4>
<hr />
<%= render @article.comments %>