<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li>
  <%= button_to "Destroy", article_path(@article), method: :delete %>
</ul>
<br />
<hr />
<%= link_to '<- Main page', articles_path %>
<hr />
<br />
<h2>Add comment</h2>
<%= form_with model: [ @article, @article.comments.build ] do |form| %>
  <p>
    <%= form.label :author %><br />
    <%= form.text_field :author %>
  </p>
  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>