<h1><%= t('contacts.contact_us') %></h1>

<%= form_for :contact, url: contacts_path do |f| %>
  <% if @contact && @contact.errors.any? %>
        <% @contact.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% end %>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>

  <div class="mb-3">
    <%= f.label :message, class:"form-label" %>
    <%= f.text_area :message, class:"form-control", rows:"5" %>
  </div>


  <%= f.button class:"btn btn-primary", value: "Send message" %>

<% end %>